name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [ '8', '11', '17', '19' ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: ./gradlew build javadoc
      run: ./gradlew build
    - name: ./gradlew requireJavadoc
      run: ./gradlew requireJavadoc
    - name: ./gradlew spotlessCheck
      run: ./gradlew spotlessCheck
      if: matrix.java != '8'
