name: Java CI with Gradle

on: [push, pull_request]   # yamllint disable-line rule:truthy

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: ['17', '21', '25']

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
          show-progress: false
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          check-latest: true
          cache: 'gradle'
      - name: java -version
        run: java -version
      - name: ./gradlew build
        run: ./gradlew build
      - name: run-tests.sh
        run: src/test/run-tests.sh
